$black: #000;
$white: #fff;
$green: #008000;
$red: #ff0000;
$tablet: 768px;
$mobile: 512px;

body {
  background-color: $black;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 40px 0;
  box-sizing: border-box;

  @media (min-width: $mobile) {
    padding: 40px;
  }
}

.stopwatch {
  color: $white;

  &__headline {
    text-align: center;
  }

  &__time {
    font-size: 64px;
    font-size: 700;
    text-align: center;
    padding: 20px 0;
  }

  &__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 0;
  }

  .btn {
    cursor: pointer;
    font-size: 24px;
    font-weight: 700;
    padding: 8px 12px;
    margin: 8px;
    border-radius: 4px;
    width: 100%;

    @media (min-width: $mobile) {
      width: auto;
    }

    &:active {
      background-color: $red;
    }

    &--yellow {
      background-color: #ffff00;
    }

    &--white {
      background-color: $white;
    }

    &--green {
      color: $white;
      background-color: $green;
    }

    &--red {
      color: $white;
      background-color: $red;
    }

    .subline {
      font-size: 8px;
    }
  }
}